*.class
*.pdf
*antlr.generated*
EvilLexer.java
EvilParser.java
TypeCheck.java
TypeCheck.tokens
Evil.tokens
*~
.DS_Store
._*
output/
ILOC.java
ILOC.tokens
antlr-3.3-complete.jar
*.il
Mochi/
*.s
*.out
benchmarks/
alltestoutput
1
2
3
4
c_*
evil_*
